@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: block; }

.header-section .navbar-nav .nav-item .nav-link, .footer-section .btn-custom, .footer-section ul li a {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.header-section {
  background-color: #FCDB00;
  padding: 30px 0; }
  .header-section .navbar-nav .nav-item .nav-link {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px 30px; }
    .header-section .navbar-nav .nav-item .nav-link:hover {
      opacity: 0.8; }
  .header-section .banner-section {
    padding: 87px 0; }
    .header-section .banner-section h1 {
      color: #010101;
      font-size: 50px;
      font-weight: 600;
      line-height: 1.5; }
    .header-section .banner-section h3 {
      color: #010101;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0px; }
    .header-section .banner-section p {
      color: #010101;
      font-size: 15px;
      letter-spacing: 1px;
      margin: 16px 0;
      font-weight: 200; }
    .header-section .banner-section ul {
      margin: 20px 0; }
      .header-section .banner-section ul li {
        padding-right: 40px; }
        .header-section .banner-section ul li a i {
          color: #010101;
          font-size: 40px; }
  .header-section .banner-img {
    padding: 30px 0; }
    .header-section .banner-img img {
      display: block;
      margin: auto; }

.blog-section {
  padding: 100px 0; }
  .blog-section .feater {
    text-align: center;
    margin-bottom: 60px; }
    .blog-section .feater h1 {
      font-size: 45px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: capitalize; }
    .blog-section .feater p {
      font-size: 16px;
      line-height: 1.5;
      opacity: 0.7;
      padding: 25px 0;
      font-weight: 400; }
  .blog-section .icon i {
    font-size: 37px; }
  .blog-section .description h2 {
    font-size: 24px;
    font-weight: 700; }
  .blog-section .description p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
    margin-top: 18px;
    font-weight: 400; }

.footer-section {
  background-color: #010101;
  padding: 100px 0; }
  .footer-section h1 {
    color: #fcdb00;
    letter-spacing: 2px;
    font-size: 35px;
    text-transform: capitalize; }
  .footer-section p {
    color: gray;
    font-size: 17px;
    padding: 10px 0; }
  .footer-section input {
    height: 56px; }
  .footer-section a {
    text-decoration: none; }
  .footer-section .btn-custom {
    display: block;
    background-color: #FCDB00;
    font-size: 25px;
    padding: 7px 30px;
    text-decoration: none;
    border: 1px solid #FCDB00; }
    .footer-section .btn-custom:hover {
      background-color: transparent;
      color: #FCDB00; }
  .footer-section ul li a {
    margin: 0 16px;
    display: block;
    background-color: #FCDB00;
    width: 30px;
    height: 30px;
    color: black;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #FCDB00; }
    .footer-section ul li a:hover {
      background-color: transparent;
      color: #FCDB00; }

@media (max-width: 1199px) {
  .banner-section h1 {
    color: #010101;
    font-size: 43px;
    font-weight: 600;
    line-height: 1.5; }

  .header-section .banner-section h3 {
    color: #010101;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px; }

  .header-section .banner-img img {
    display: block;
    margin: auto;
    /* height: 100px; */
    max-width: 280px; }

  .header-section .banner-section ul li a i {
    color: #010101;
    font-size: 32px; }

  .header-section .banner-section ul {
    margin: 31px 0; }

  .blog-section .feater h1 {
    font-size: 43px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize; }

  .footer-section input {
    height: 50px; } }
@media (max-width: 991px) {
  .header-section .banner-section h1 {
    color: #010101;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize; }

  .header-section .banner-section h1 {
    color: #010101;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize; }

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center; }

  .header-section .banner-section h3 {
    color: #010101;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px; }

  .header-section .banner-section p {
    color: #010101;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 16px 0;
    font-weight: 200; }

  .blog-section .feater h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize; }

  .blog-section .feater p {
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.7;
    padding: 11px 0;
    font-weight: 400; }

  .header-section .banner-img img {
    display: block;
    margin: auto;
    /* height: 100px; */
    max-width: 260px; }

  .blog-section .icon i {
    font-size: 40px;
    /* padding-bottom: 76px; */ }

  .blog-section .description p {
    font-size: 15px; }

  .footer-section h1 {
    color: #fcdb00;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: capitalize; }

  .footer-section p {
    color: gray;
    font-size: 15px;
    padding: 10px 0; }

  .footer-section .btn-custom {
    display: block;
    background-color: #fcdb00;
    font-size: 18px;
    padding: 7px 30px;
    text-decoration: none;
    border: 1px solid #fcdb00; }

  .footer-section .mb-5 {
    margin-bottom: 16px !important; } }
@media (max-width: 767px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center; }

  .header-section .banner-section {
    padding: 30px 0;
    text-align: center; }

  .header-section.text-customization {
    text-align: center !important; }

  .header-section .banner-section h1 {
    color: #010101;
    font-size: 37px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    text-align: center; }

  .header-section .banner-section h3 {
    color: #010101;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px; }

  .header-section .banner-section p {
    color: #010101;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 11px 0;
    font-weight: 200; }

  .header-section .banner-section .content-center {
    justify-content: center !important; }

  .blog-section .icon i {
    font-size: 52px; }

  .footer-section .btn-custom {
    display: block;
    background-color: #FCDB00;
    font-size: 18px;
    padding: 7px 30px;
    text-decoration: none;
    border: 1px solid #FCDB00;
    margin: auto; } }
@media (max-width: 575px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center; }

  .header-section .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    /* padding: 15px 30px; */
    padding: 10px 20px; }

  .header-section .banner-section {
    padding: 35px 0;
    text-align: center; }

  .header-section .banner-section h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    text-align: center; }

  .header-section .banner-section h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px; }

  .header-section .banner-section p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 11px 0;
    font-weight: 200; }

  .header-section .banner-section ul li a i {
    font-size: 28px; }

  .header-section .banner-img {
    padding: 10px 0;
    /* justify-content: center; */
    /* margin: auto; */ }

  .header-section .banner-img img {
    display: block;
    margin: auto;
    /* height: 100px; */
    max-width: 250px; }

  .header-section .banner-section {
    padding: 14px 0;
    text-align: center; }

  .blog-section .feater p {
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.7;
    padding: 11px 0;
    font-weight: 400; }

  .blog-section .description p {
    font-size: 12px; }

  .footer-section {
    padding: 88px 0; }

  .footer-section h1 {
    letter-spacing: 2px;
    font-size: 28px;
    text-transform: capitalize; }

  .footer-section p {
    font-size: 12px;
    padding: 10px 0; }

  .footer-section input {
    height: 45px; }

  .footer-section .btn-custom {
    display: block;
    font-size: 15px;
    padding: 7px 30px;
    text-decoration: none;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
